MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=anh-duong-land
DB_NAME=anh_duong_land
PORT=8000
HOST=0.0.0.0

S3_ACCESS_KEY_ID=your_access_key
S3_ACCESS_SECRET=your_access_secret
S3_BUCKET=your_bucket
S3_ENDPOINT=your_endpoint_url
S3_REGION=your_region

# Google Social Login
GOOGLE_CLIENT_ID=855774855654-m1dkffmlcsk62nktt6i7t9jadhaomh2l.apps.googleusercontent.com

